@CHARSET "ISO-8859-1";
body{
	font-family: "Nunito";
    font-weight: 600;
    font-size: large;
}
.message {
    display: none;
}

#reservation-list{
	font-weight: lighter;
    font-size: 100%;
    top:10rem;
    margin-left: 10rem;
    margin-right:10rem;
    margin-top: 10rem;
}

table{
	margin:auto;
}
caption{
	font-family: "Nunito";
	font-weight:bold;
	font-size:150%;
	margin-bottom:3rem;
}
th{
	font-weight:bold;
	color: #202020;
	padding-right: 3rem;
	padding-bottom: 1.5rem;
}

