@CHARSET "ISO-8859-1";

label,
button {
    display: block;
    margin-top: 15px;
}

.message {
    display: none;
    margin-top: 2rem;
}

#validation-error,#conflict-error,#system-error{
	color:red
}

.input{
	font-weight: lighter;
    font-size: 100%;
    top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
    font-family: Nunito;
}

label{
	font-weight:600;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

input{
	border-radius:5px;
	border:1px solid #ccc;
	outline:none;
	padding:6px;
}

form{
	background-color: #F7F7F7;
    border-radius: 1rem;
}
button{
	margin-top:2rem;
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
    font-size: 16px;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: #757474;
    color: white;
}
.content{
	padding-top: 1rem;
    padding-left: 1rem;	
    padding-bottom:1rem;
    padding-right:1rem;
}